{% extends 'base.html' %}

{% load icons %}
{% load static %}
{% load project_extras %}

{% block title %}Projects{% endblock %}

{% block content %}
  <h2 class="mt-3 text-center" >Open Projects</h2>


  <div class="row">
    <div class="col-lg text-center">
    <div class="search-location-container">
        <div style="position: relative; height: inherit">
        <div style="float: left; width: 130px">
            <input type="search" class="form-control" id="search-input" placeholder="Location">
        </div>
        <div style="float: right">
            <button id="search-btn" class="btn btn-default">Search</button>
        </div>
        <div id="current-filter" style="display: none">
            location X
        </div>
        </div>
    </div>
    <div class="button-container">
        <button id="make-compact" class="btn btn-default" value="false">
            <img src="{% static 'img/list.png' %}" height="22px" width="22px">
        </button>
    </div>

      <div class="d-inline-flex list-group mt-3" id="project-toggle" role="tablist" style="margin:0 203px 0 49px">
        <ul class="pagination">
          {% for project_category in project_categories %}
          <li class="page-item">
            <a
              class="list-group-item list-group-item-action"
              data-toggle="list"
              role="tab"
              id="category-{{project_category}}"
              aria-controls="{{project_category}}"
              href="#{{project_category}}">
                {{project_category}}
            </a>
          </li>
          {% endfor %}

        </ul>
      </div>

      <div class="tab-content"  id="nav-tabContent">
        {% for project_category in project_categories %}
          <div class="tab-pane fade show" id="{{project_category}}" role="tabpanel" aria-labelledby="category-{{project_category}}">
            <h3 class="mb-3 mt-5">{{project_category}}</h3>
            <div class="row projects-view">
                {% for project in projects %}
                  {% if project.status == project.OPEN and project.category.id == project_category.id %}
                  <div class="project" location="{{ project.location }}">
                      <div class="big-format">
                          <a class="open-project-view-item" href="{% url 'project_view' project_id=project.id%}">
                          <div class="col-md mb-3 ml-3 mr-3 mt-3 project-box-style">
                            <div class="media">
                                <img class="align-self-top mr-3 mt-5 project-image" src="{% static 'img/idea.jpg' %}" alt="Generic placeholder image." />
                                <div class="media-body">
                                <h5 class="mt-3"> {% icon 'tasks' %} {{project.title}}</h5>
                                <p>Posted by: {{project.user.user.username}}</p>
                                <p>{{ project.location }}</p>
                                <p class="project-description">{{project.description}}</p>
                                </div>
                          </div>
                          </div>
                          </a>
                      </div>
                  </div>
                  <div class="project" location="{{ project.location }}">
                    <div class="compact-format">
                    <a class="open-project-view-item" href="{% url 'project_view' project_id=project.id %}">
                        <div class="">
                            <div class="media">
                                <div class="media-body">
                                    <div class="overflow-container">
                                        <h5>{{ project.title }}</h5>
                                    </div>
                                    <hr>
                                    <div class="overflow-container">
                                        Posted by {{ project.user.user.username }}, {{ project.location }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                  </div>

                  {% endif %}
                {% endfor %}

            </div>

          </div>
        {% endfor %}
      </div>

    </div>
  </div>

  <script src="{% static 'js/tab_change.js' %}">
  </script><script src="{% static 'js/compact_button.js' %}"></script>
  <script src="{% static 'js/filter_location.js' %}"></script>
  <script>
  document.getElementsByClassName('list-group-item-action')[0].click();
  setTimeout(function(){
    document.getElementsByClassName('list-group-item-action')[0].click();
  }, 100);
  </script>
{% endblock %}
